.container {
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 25px;
}

.space {
  width: 100%;
  height: 75px;
}

.container .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form .input-box {
  height: 80px;
  flex-basis: calc(100% * (1 / 3) - 20px);
}

.headline {
  display: flex;
  margin: 25px;
  font-weight: bolder;
  font-size: large;
  padding-left: 10px;
  align-content: center;
  height: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.emp_tab {
  margin: 15px 0px;
  border-radius: 30px 0px 0px 30px;
  background-color: #00aeef;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1px 10px;
}

img {
  width: 250px;
  height: 75px;
  object-fit: scale-down;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

input[type="text"] {
  margin-top: 5px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  width: 250px;
  height: 30px;
}

input[type="date"] {
  margin-top: 5px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  width: 256px;
  height: 30px;
}

input[type="file"] {
  margin-top: 5px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  width: 256px;
  height: 30px;
}

select {
  margin-top: 5px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  width: 256px;
  height: 30px;
}

label {
  font-weight: bold;
}

button {
  margin-right: 15px;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(150, 150, 150);
}

.btn_create {
  background-color: #00aeef;
}

.btn_cancel {
  background-color: white;
}
