.flex_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#left {
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-left {
  flex-shrink: 0;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

ul {
  display: inline-flex;
  list-style: none;
}

.bottom {
  flex-grow: 1;
}
